
@{
    ViewData["Title"] = "Sobre";
}

<h1 class="my-5">@ViewData["Title"]</h1>

<p>Esse sistema faz parte de Projeto Multidisciplinar (PIM) VIII do curso Análise e Desenvolvimento de sistemas da Universidade Paulista.</p>

<p>Foi proposto o desenvolvimento de um sistema web CRUD (Create, Read, Update, Delete) utilizando o framework ASP.NET da Microsoft, juntamente com a integração desse sistema com um banco de dados, que no caso foi utilizado o SQLite.</p>
