
@{
    ViewData["Title"] = "Sobre";
}

<h1 class="my-5">@ViewData["Title"]</h1>

<p>Esse sistema faz parte de Projeto Multidisciplinar (PIM) VIII do curso Análise e Desenvolvimento de sistemas da Universidade Paulista.</p>

<p>Foi proposto o desenvolvimento de um sistema web CRUD (Create, Read, Update, Delete) utilizando o framework ASP.NET da Microsoft, juntamente com a integração desse sistema com um banco de dados, que no caso foi utilizado o SQLite.</p>

<div class="my-5">
    <h3 class="mb-3">Desenvolvido por:</h3>
    <ul class="lh-lg">
        <li>EDUARDO RIBEIRO DA SILVA </li>
        <li>DOUGLAS MAGNO BONALDO</li>
        <li>GABRIEL DOS ANJOS VALIN</li>
        <li>JEAN CARLOS APARECIDO DE MORAES</li>
        <li>MIGUEL PEREIRA CAIXETA</li>
        <li>MURILO PRIVITERA</li>
    </ul>
</div>

<div class="my-5">
    <a href="https://github.com/MiguellPC/Cadastro-de-pessoas" target="_blank" rel="noopener noreferrer">
        <img src="/images/github-icon.svg" style="height:30px"/>
    </a>
</div>