@{
    ViewData["Title"] = "Home Page";
    string imagePath = "/images/Filing-system.png";
}

<div class="d-flex flex-column flex-lg-row min-vh-70">
    <div class="d-flex justify-content-center align-items-start align-items-md-center flex-fill">
        <img src="@imagePath" class="w-100 mw-400"/>
    </div>
    <div class="mw-536px d-flex justify-content-center align-items-center flex-column gap-lg-5 p-3 p-lg-5 mx-auto">
        <h1 class="display-4 purple">Olá!</h1>
        <h1 class="display-4 text-center">Seja bem-vindo ao Cadastro de Pessoas!</h1>
        <p>
            <a asp-controller="Pessoas" asp-action="Index" class="btn btn-outline-dark mt-3 w-200">Começar</a>
        </p>
    </div>
</div>  
