@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="my-5">@ViewData["Title"]</h1>

<p>Obrigado por visitar nosso site. Sua privacidade é importante para nós e estamos comprometidos em proteger suas informações pessoais. Esta política de privacidade explica quais dados pessoais coletamos, como os usamos e como os protegemos.</p>

<ol>
    <li>
        <b>Coleta de Informações Pessoais</b><br />
        <p>Coletamos informações pessoais que você nos fornece ao usar nosso site, como seu nome, endereço de e-mail, número de telefone e outras informações de contato. Também podemos coletar informações sobre o uso de nosso site, como seu endereço IP, tipo de navegador e sistema operacional.</p>
    </li>

    <li>
        <b>Uso de Informações Pessoais</b><br />
        <p>Usamos suas informações pessoais para fornecer os serviços e produtos que você solicita, para nos comunicarmos com você sobre nossos produtos e serviços e para melhorar nosso site. Também podemos usar suas informações pessoais para enviar materiais promocionais sobre nossos produtos e serviços.</p>
    </li>

    <li>
        <b>Divulgação de Informações Pessoais</b><br />
        <p>Não vendemos, alugamos ou negociamos suas informações pessoais com terceiros para fins de marketing. Podemos compartilhar suas informações pessoais com nossos provedores de serviços e parceiros de negócios que nos ajudam a fornecer nossos produtos e serviços. Também podemos divulgar suas informações pessoais se exigido por lei ou em resposta a uma ordem judicial.</p>
    </li>

    <li>
        <b>Segurança dos Dados</b><br />
        <p>Tomamos medidas razoáveis para proteger suas informações pessoais contra acesso, uso e divulgação não autorizados. No entanto, nenhuma transmissão de dados pela Internet pode ser garantida como completamente segura. Portanto, não podemos garantir a segurança de qualquer informação que você transmita para nós.</p>
    </li>

    <li>
        <b>Cookies e outras tecnologias de rastreamento</b><br />
        <p>Usamos cookies e outras tecnologias de rastreamento para coletar informações sobre o uso de nosso site. Cookies são pequenos arquivos de dados que são armazenados em seu dispositivo quando você visita nosso site. Eles nos permitem lembrar suas preferências, reconhecê-lo quando você retorna ao nosso site e analisar como você usa nosso site.</p>
    </li>

    <li>
        <b>Alterações a esta Política de Privacidade</b><br />
        <p>Reservamos o direito de alterar esta política de privacidade a qualquer momento. Se fizermos alterações, publicaremos a nova política de privacidade em nosso site e atualizaremos a data de revisão. Se fizermos alterações materiais, notificaremos você por e-mail ou por meio de um aviso em nosso site antes de alterar a política de privacidade. Se você não concordar com as alterações, pode encerrar seu uso do nosso site.</p>
    </li>

    <li>
        <b>Contato</b><br />
        <p>Se você tiver alguma dúvida sobre esta política de privacidade, entre em contato conosco.</p>
    </li>

</ol>